{
  "presets": [
    "babel-preset-expo",
    [
      "env",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
